{% extends 'base.html' %}

{% from "forms/_formhelpers.html" import render_field, render_label %}

{% block main %}
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <h1>Procesar planilla</h1>

            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#">Subir archivo</a>
                </li>
                <li role="presentation">
                    <a href="{{ url_for('single_question') }}">Carga manual</a>
                </li>
            </ul>

            <form id="upload_form" method="post" action="{{ url_for('process_spreadsheet', filename=filename) }}" class="form-tab" enctype="multipart/form-data">
                {{ process_spreadsheet_form.csrf_token }}

                <div class="form-group row">
                </div>
                <input type=submit value="Procesar" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}