{% extends 'forms/base_forms.html' %}

{% from "forms/_formhelpers.html" import render_field, render_label %}

{% block form %}
    <form id="upload_form" method="post" action="{{ url_for('process_spreadsheet', filename=filename) }}"
          class="form-tab" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="form-group container-fluid">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.discard_first_row.label() }}
                </div>
                <div class="col-xs-12 col-sm-6 field-label-container header-checkbox">
                    {{ form.discard_first_row() }}
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.report.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.report(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.number.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.number(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.context.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.context(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.body.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.body(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.author.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.author(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>


            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.topic.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.topic(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.subtopic.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.subtopic(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-12 no-padding select-group">
                <div class="col-xs-12 col-sm-6 field-label-container">
                    {{ form.answer.label() }}
                </div>
                <div class="col-xs-12 col-sm-6">
                    {{ form.answer(class_='form-control') }}
                </div>
                <div class="col-xs-12">
                  <p class="type-warning"></p>
                </div>
            </div>

            <div class="col-xs-10 col-xs-offset-1">
                {% if form.number.errors %}
                    <p>Debe seleccionar columna para el numero de pregunta</p>
                {% endif %}
                {% if form.body.errors %}
                    <p>Debe seleccionar columna para el texto de la pregunta</p>
                {% endif %}
            </div>

            <div class="col-xs-12 no-padding preview-container">
                <h5>Previsualización</h5>
                {% with result = {}, hide_more_info_link = True, hide_actions = True %}
                    {% include 'search/result.html' %}
                {% endwith %}
            </div>

            <div class="col-xs-12 no-padding submit-container">
                <input id="submit-btn" type=submit value="Procesar y ver preguntas" class="btn btn-success btn-sm">
            </div>

        </div>
    </form>

    <script>
        $(function () {
            // Tipo de dato esperado en cada columna
            var desiredTypes = ['Categoria', 'Numero','Texto', 'Texto', 'Otro', 'Categoria', 'Categoria'];
            var cant_have_empty = [true, true, false, true, true, false, false ];
            var spreadsheetTypes = {{ spreadsheet_summary.datatypes|tojson|safe }};
            var bestRowFromSpreadsheet = {{ spreadsheet_summary.best_row|tojson|safe }};
            var selects = $('form select');
            selects.on('change', function () {
                for (var i = 0; i < selects.length; i++) {
                    var $select = $(selects[i]);
                    var attributeName = $select.attr('id');
                    var $attributePreviewElement = $('.result [data-attribute-name="' + attributeName + '"]');
                    var attributeColumnNumber = parseInt($select.find('option:selected').val());
                    var attributeValue;
                    if (attributeColumnNumber > -1) {
                        var valueTemplate = $attributePreviewElement.data('attribute-display-template');
                        attributeValue = valueTemplate.replace('$', bestRowFromSpreadsheet[attributeColumnNumber]);
                        var warningEl = $(this).parents('.select-group').find('.type-warning');
                        if (desiredTypes[i] == 'Otro'){
                          warningEl.text('');
                        }else if ($.inArray(desiredTypes[i],spreadsheetTypes[attributeColumnNumber]) == -1){
                          var msg = 'No coincide el tipo de dato. Se esperaba ' +  desiredTypes[i] + ' y fue ' +  spreadsheetTypes[attributeColumnNumber];
                          console.log(msg);
                          warningEl.text(msg);
                        }
                        else {
                          warningEl.text('');
                        }
                        if (cant_have_empty[i] && $.inArray('Contiene Vacios', spreadsheetTypes[attributeColumnNumber])>=0){
                          warningEl.text('Hay valores vacios');
                        }
                    } else {
                        attributeValue = $attributePreviewElement.data('attribute-default');
                    }
                    $attributePreviewElement.html(attributeValue);
                }
            })
        })
    </script>
{% endblock %}
