{% extends 'base.html' %}

{% from "forms/_formhelpers.html" import render_field, render_label %}

{% block main %}
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <h1>Carga de preguntas</h1>

            <ul class="nav nav-tabs">
                <li role="presentation" id="upload_form_tag">
                    <a href="{{ url_for('question_upload') }}">Subir archivo</a>
                </li>
                <li role="presentation" id="single_question_form_tab" class="active">
                    <a href="#">Carga manual</a>
                </li>
            </ul>

            <form id="single_question_form" method=post action="{{ url_for('single_question') }}" class="form-tab" enctype="multipart/form-data">
               {{ question_form.csrf_token }}
                <div class="form-group row">
                    {{ render_label(question_form.number) }}
                    {{ render_field(question_form.number) }}
                </div>

                <div class="form-group row">
                    {{ render_label(question_form.body) }}
                    {{ render_field(question_form.body) }}
                </div>

                <div class="form-group row">
                    {{ render_label(question_form.justification) }}
                    {{ render_field(question_form.justification) }}
                </div>

                <div class="form-group row">
                    {{ render_label(question_form.context) }}
                    {{ render_field(question_form.context) }}
                </div>

                <input type=submit value=Register class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}