{% extends 'forms/process_spreadsheet.html' %}

{% block question_number %}
{% endblock %}

{% block topic %}
{% endblock %}

{% block subtopic %}
{% endblock %}

{% block form_action %}
    action="{{ url_for('process_spreadsheet_taquigraficas', filename=filename) }}"
{% endblock %}

{% block answer %}
    {{ super() }}

    <div class="col-xs-12 no-padding select-group">
        <div class="col-xs-12 col-sm-6 field-label-container">
            {{ form.answer_author.label() }}
        </div>
        <div class="col-xs-12 col-sm-6">
            {{ form.answer_author(class_='form-control') }}
        </div>
        <div class="col-xs-12">
          <p class="type-warning"></p>
        </div>
    </div>
{% endblock %}
