{% extends 'forms/base_forms.html' %}

{% from "forms/_formhelpers.html" import render_field, render_label %}

{% block form %}
    <form id="upload_form" method="post" action="{{ url_for('question_upload') }}" class="form-tab"
          enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="form-group">
            <p>Seleccione una planilla (formatos soportados: csv)</p>
            <input class="" id="spreadsheet" name="spreadsheet" type="file">
        </div>
        <input id="submit-btn" type=submit value="Subir" class="btn btn-success btn-sm">
    </form>
{% endblock %}