// Para compilar:
// sass --watch app.scss:app.css
@import 'fonts';
@import 'libs/fontawesome/font-awesome';
@import 'libs/bootstrap.min.css';
@import 'libs/poncho.css';
@import 'libs/select2.min.css';
@import 'libs/jquery.qtip.min.css';
@import 'libs/nprogress.css';

#nprogress {
  .bar {
    height: 3px;
  }
  .spinner-icon {
    border-width: 3px;
  }
}

.container-fluid {
  max-width: 1170px;
}

.form-tab {
  background: white;
  padding: 10px;
  border: solid 1px #dddddd;

  &#upload_form,
  &#single_question_form {
    border-top: none;
  }

  &#full_text_query_form {
    textarea {
      height: 200px;
    }
  }
}

.center-vertical-table {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  .center-vertical-cell {
    display: table-cell;
    vertical-align: middle;
  }
}

button {
  outline: none!important;
}

.no-padding {
  padding: 0;
}

.highlight { background-color: yellow }

@import 'search';
@import 'question';
@import 'forms';