// Para compilar:
// sass --watch app.scss:app.css

@import 'fonts';
@import 'libs/fontawesome/font-awesome';
@import 'libs/bootstrap.min.css';
@import 'libs/poncho.css';


.container-fluid {
  max-width: 1170px;
}

.form-tab {
  background: white;
  padding: 10px;
  border: solid 1px #dddddd;

  &#upload_form,
  &#single_question_form {
    border-top: none;
  }

  &#full_text_query_form {
    textarea {
      height: 200px;
    }
  }
}

#search_results {
  #results_list {
    .result {
      blockquote {
        margin: 10px;
      }
      .date {
        margin-left: 2em;
        font-weight: 400;
      }
      button {
        background-color: #0695d6;
        cursor: inherit;
        opacity: 1;
      }
      .panel:hover {
        button {
          color: white;
        }
      }
    }
  }
}