#search-filters {
  padding-bottom: 0;

  .panel {
    margin-bottom: 10px;
    &:hover, &:focus {
      color: inherit;
      background-color: white;
      .close {
        opacity: 0.6;
      }
    }
    .close {
      position: absolute;
      top: 0.5em;
      right: 1em;
    }
    blockquote {
      margin: 5px 30px;
    }
  }

  .add-filter {
    margin-left: auto;
  }

  #filter-picker {
    .filter-desc {
      vertical-align: middle;
      margin: 0 5px;
    }
    #filter-behaviour {
      width: 120px;
    }
    #filter-comparision {
      width: 120px;
    }
    #filter-type {
      width: 200px;
    }
    .filter-value-picker {
      width: 300px;
    }
    .actions {
      margin-top: 10px;
      text-align: right;
      button {
        margin-bottom: 0;
      }
    }
  }
}

.search-results {
  .results-title {
    position: relative;
    padding-right: 120px;
    .delete-all {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -11px;
      &:hover {
        cursor: pointer;
        color: #ef4d3d;
      }
    }
  }
}

#question-delete-all {
  .modal-header,
  .modal-footer {
    text-align: center;
    border: none;
  }
}