<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PreguntasJGM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/app.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jgm.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include 'header.html' %}
    <div class="main">
        {% block main %}{% endblock %}
    </div>
  </body>
</html>
