{% extends "base.html" %}
{% block main %}
    <section class="container-fluid">
        <div class="row panels-row">

            <div class="col-xs-12 col-sm-6">
                <a class="panel panel-default panel-icon" href="{{ url_for('search') }}">
                    <div class="panel-heading hidden-xs"><i class="fa fa-search"></i></div>
                    <div class="panel-body">
                        <h3><span class="visible-xs-inline"><i class="fa fa-search text-secondary"></i>&nbsp;</span>Navegar preguntas</h3>
                        <p class="text-muted">Listado general de preguntas junto a opciones de filtrado segun sus atributos.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a class="panel panel-default panel-icon" href="{{ url_for('question_upload') }}">
                    <div class="panel-heading hidden-xs"><i class="fa fa-wpforms"></i></div>
                    <div class="panel-body">
                        <h3><span class="visible-xs-inline"><i class="fa fa-wpforms text-secondary"></i>&nbsp;</span>Carga de preguntas</h3>
                        <p class="text-muted">Formulario para carga manual y alternativa de subida de planilla para carga de preguntas multiples.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a class="panel panel-default panel-icon" href="{{ url_for('full_text_query') }}">
                    <div class="panel-heading hidden-xs"><i class="fa fa-quote-left"></i></div>
                    <div class="panel-body">
                        <h3><span class="visible-xs-inline"><i class="fa fa-quote-left text-secondary"></i>&nbsp;</span>Buscar por similaridad</h3>
                        <p class="text-muted">Busqueda segun similaridad a un texto en particular.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6">
                <a class="panel panel-default panel-icon" href="{{ url_for('management') }}">
                    <div class="panel-heading hidden-xs"><i class="fa fa-gear"></i></div>
                    <div class="panel-body">
                        <h3><span class="visible-xs-inline"><i class="fa fa-gear text-secondary"></i>&nbsp;</span>Gestion del sistema</h3>
                        <p class="text-muted">Alta, baja y modificación de otras entidades.</p>
                    </div>
                </a>
            </div>


        </div>
    </section>
{% endblock %}
