{% extends "base.html" %}
{% block main %}
    <section class="jumbotron" style="background-image: url('{{ url_for('static', filename='img/jefatura.jpg') }}');">
        <div class="jumbotron_body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Informes de gestión</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
